<link href="~/css/Authentication/Authentication.css" rel="stylesheet" />

<div id="dashboardNavBar" style="height:25px;">
    <nav class="navbar navbar-inverse navbar-fixed-top header dashboardHeader" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <h2 class="navbar-brand">My.Portal</h2>
            </div>
            <div id="dashHeader" class="navbar-collapse collapse dashboardHeader-padding">
                <ul class="nav navbar-nav">

                    <li class="iconHome">
                        <a asp-controller="Dashboard" asp-action="Index">Home</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>


